<app-showcase></app-showcase>
<mat-tab-group color="accent" mat-stretch-tabs>
  <mat-tab label="Overview">
    <div class="content-grid">
      <div class="brand-desc">
        <article class="nat-design">
          <div>
            <header>
              <h2>Designing for the best brands</h2>
              <hr>
              <p>
                Labore incididunt aliquip consectetur tempor reprehenderit laboris
                consequat sit esse. In consequat sunt cupidatat officia.
              </p>
              <button mat-raised-button color="accent">GET STARTED</button>
            </header>
          </div>
          <div>
            <span class="image">
              <img src="../../assets/img/graphic-design-1.svg">
            </span>
          </div>
        </article>
        <article class="goals">
          <div>

          </div>
          <div></div>
          <div></div>
        </article>
      </div>
      <div class="full">

      </div>
      <div>
        <div class="view-cards">
            <div>
              <mat-card class="view-card">
                <mat-card-header>
                  <div mat-card-avatar class="view-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Nature Creations Branding">
                <mat-card-content>
                  <p>
                    Labore incididunt aliquip consectetur tempor reprehenderit laboris
                      consequat sit esse. In consequat sunt cupidatat officia.
                      Sunt id Lorem nisi cupidatat nulla sint adipisicing
                      esse reprehenderit et aute. Cillum qui est ad irure duis.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button primary>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
            </div>
            <div>
              <mat-card class="view-card">
                <mat-card-header>
                  <div mat-card-avatar class="view-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Nature Creations Branding">
                <mat-card-content>
                  <p>
                    Labore incididunt aliquip consectetur tempor reprehenderit laboris
                      consequat sit esse. In consequat sunt cupidatat officia.
                      Sunt id Lorem nisi cupidatat nulla sint adipisicing
                      esse reprehenderit et aute. Cillum qui est ad irure duis.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button primary>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
            </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Products">
    <div class="content-grid">
      <div>
        <h3>Products</h3>
        <article>

        </article>
      </div>
      <div></div>
      <div></div>
    </div>
  </mat-tab>

  <mat-tab label="Features">
    <div class="content-grid">
      <div>
        <h3>Features &amp; Services</h3>
        <article>

        </article>
      </div>
      <div></div>
      <div></div>
    </div>
  </mat-tab>

  <mat-tab label="Terms of Use">
    <div class="content-grid">
      <div>
        <app-terms-of-use></app-terms-of-use>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Privacy Policy">
    <div class="content-grid">
      <div>
        <app-privacy></app-privacy>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
