<app-showcase></app-showcase>
<md-tab-group color="accent" md-stretch-tabs>
  <md-tab label="Overview">
    <div class="content-grid">
      <div class="brand-desc">
        <h1>Designing for the best brands</h1>
        <hr>
        <article class="nat-design">
          <img class="tree" src="../../assets/img/Natural-Tree.png" alt="Nature Creations">
          <p>
            Labore incididunt aliquip consectetur tempor reprehenderit laboris
            consequat sit esse. In consequat sunt cupidatat officia.
          </p>
        </article>
      </div>
      <div class="full">

      </div>
      <div>
        <div class="view-cards">
            <div>
              <md-card class="view-card">
                <md-card-header>
                  <div md-card-avatar class="view-header-image"></div>
                  <md-card-title>Shiba Inu</md-card-title>
                  <md-card-subtitle>Dog Breed</md-card-subtitle>
                </md-card-header>
                <img md-card-image src="https://mderial.angular.io/assets/img/examples/shiba2.jpg" alt="Nature Creations Branding">
                <md-card-content>
                  <p>
                    Labore incididunt aliquip consectetur tempor reprehenderit laboris
                      consequat sit esse. In consequat sunt cupidatat officia.
                      Sunt id Lorem nisi cupidatat nulla sint adipisicing
                      esse reprehenderit et aute. Cillum qui est ad irure duis.
                  </p>
                </md-card-content>
                <md-card-actions>
                  <button md-button primary>LIKE</button>
                  <button md-button>SHARE</button>
                </md-card-actions>
              </md-card>
            </div>
            <div>
              <md-card class="view-card">
                <md-card-header>
                  <div md-card-avatar class="view-header-image"></div>
                  <md-card-title>Shiba Inu</md-card-title>
                  <md-card-subtitle>Dog Breed</md-card-subtitle>
                </md-card-header>
                <img md-card-image src="https://mderial.angular.io/assets/img/examples/shiba2.jpg" alt="Nature Creations Branding">
                <md-card-content>
                  <p>
                    Labore incididunt aliquip consectetur tempor reprehenderit laboris
                      consequat sit esse. In consequat sunt cupidatat officia.
                      Sunt id Lorem nisi cupidatat nulla sint adipisicing
                      esse reprehenderit et aute. Cillum qui est ad irure duis.
                  </p>
                </md-card-content>
                <md-card-actions>
                  <button md-button primary>LIKE</button>
                  <button md-button>SHARE</button>
                </md-card-actions>
              </md-card>
            </div>
        </div>
      </div>
    </div>
  </md-tab>

  <md-tab label="Products">
    <div class="content-grid">
      <div>
        <h3>Products</h3>
        <article>

        </article>
      </div>
      <div></div>
      <div></div>
    </div>
  </md-tab>

  <md-tab label="Features">
    <div class="content-grid">
      <div>
        <h3>Features &amp; Services</h3>
        <article>

        </article>
      </div>
      <div></div>
      <div></div>
    </div>
  </md-tab>

  <md-tab label="Terms of Use">
    <div class="content-grid">
      <div>
          <app-terms-of-use></app-terms-of-use>
      </div>
    </div>
  </md-tab>

  <md-tab label="Privacy Policy">
    <div class="content-grid">
      <div>
        <app-privacy></app-privacy>
      </div>
    </div>
  </md-tab>
</md-tab-group>
