<md-toolbar color="primary">
  <span>Nature Creations &trade;</span>
  <span class="example-spacer"></span>
  <button md-button [mdMenuTriggerFor]="appMenu">Menu <md-icon>menu</md-icon></button>
</md-toolbar>

<md-menu x-position="after" #appMenu="mdMenu">
  <button md-menu-item> Settings </button>
  <button md-menu-item> Help </button>
</md-menu>
<section class="main-grid">
  <div>
    Cillum duis anim irure non reprehenderit nulla incididunt.
    Tempor mollit aute Lorem sit aliqua fugiat et ea ut irure.
    Dolore deserunt sint voluptate proident ullamco commodo tempor
    enim sint ullamco non cupidatat qui in. Commodo nostrud ea
    quis mollit proident irure nostrud adipisicing consequat
    occaecat cillum reprehenderit fugiat. Duis non occaecat
    aute Lorem eiusmod non exercitation magna amet.
    Consectetur occaecat elit esse dolore velit est nisi duis.
    Et consectetur proident ex consectetur.
  </div>
  <div>
    Cillum duis anim irure non reprehenderit nulla incididunt.
    Tempor mollit aute Lorem sit aliqua fugiat et ea ut irure.
  </div>
  <div class="product-grid">
    <div> Cillum duis anim </div>
    <div> Cillum duis anim </div>
    <div> Cillum duis anim </div>
    <div> Cillum duis anim </div>
    <div> Cillum duis anim </div>
    <div> Cillum duis anim </div>
  </div>
  <div>
    Commodo nostrud ea
    quis mollit proident irure nostrud adipisicing consequat
    occaecat cillum reprehenderit fugiat. Duis non occaecat
    aute Lorem eiusmod non exercitation magna amet.
    Consectetur occaecat elit esse dolore velit est nisi duis.
    Et consectetur proident ex consectetur.
  </div>
  <div>
    Cillum duis anim irure non reprehenderit nulla incididunt.
    Tempor mollit aute Lorem sit aliqua fugiat et ea ut irure.
  </div>
  <div>
    Cillum duis anim irure non reprehenderit nulla incididunt.
    Tempor mollit aute Lorem sit aliqua fugiat et ea ut irure.
  </div>
  <div>
    Cillum duis anim irure non reprehenderit nulla incididunt.
    Tempor mollit aute Lorem sit aliqua fugiat et ea ut irure.
    Dolore deserunt sint voluptate proident ullamco commodo tempor
    enim sint ullamco non cupidatat qui in. Commodo nostrud ea
    quis mollit proident irure nostrud adipisicing consequat
    occaecat cillum reprehenderit fugiat. Duis non occaecat
    aute Lorem eiusmod non exercitation magna amet.
    Consectetur occaecat elit esse dolore velit est nisi duis.
    Et consectetur proident ex consectetur.
  </div>
  <div>
    Cillum duis anim irure non reprehenderit nulla incididunt.
    Tempor mollit aute Lorem sit aliqua fugiat et ea ut irure.
    Dolore deserunt sint voluptate proident ullamco commodo tempor
    enim sint ullamco non cupidatat qui in.
  </div>
  <div>
    Cillum duis anim irure non reprehenderit nulla incididunt.
    Tempor mollit aute Lorem sit aliqua fugiat et ea ut irure.
  </div>
  <div>
    Commodo nostrud ea
    quis mollit proident irure nostrud adipisicing consequat
    occaecat cillum reprehenderit fugiat. Duis non occaecat
    aute Lorem eiusmod non exercitation magna amet.
    Consectetur occaecat elit esse dolore velit est nisi duis.
    Et consectetur proident ex consectetur.
  </div>
  <div>
    Cillum duis anim irure non reprehenderit nulla incididunt.
    Tempor mollit aute Lorem sit aliqua fugiat et ea ut irure.
  </div>
  <div>
    Cillum duis anim irure non reprehenderit nulla incididunt.
    Tempor mollit aute Lorem sit aliqua fugiat et ea ut irure.
  </div>
</section>
