<footer class="footer-grid" color="accent">
  <div class="footer-left">
    <h3>Nature Creations
      <app-company-icon></app-company-icon>
    </h3>
  </div>
  <div class="footer-center">

  </div>
  <div class="footer-right">

  </div>
</footer>
<!--
<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Nature Creations
      <span>logo</span>
    </h3>

    <p class="footer-links">
      <a href="#">About</a>
      ·
      <a href="#">Products</a>
      ·
      <a href="#">Features</a>
      ·
      <a href="#">Faq</a>
      ·
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">Nature Creations &copy; 2017-2019</p>
  </div>

  <div class="footer-center">

    <div>
      <md-icon>map</md-icon>
      <p>
        <span>21 Revolution Street</span> Paris, France</p>
    </div>

    <div>
      <md-icon>phone</md-icon>
      <p>+1 555 123456</p>
    </div>

    <div>
      <md-icon>mail</md-icon>
      <p>
        <a href="mailto:support@company.com">support@naturecreations.com</a>
      </p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>Mission &amp; Vission</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
    </p>

    <div class="footer-icons">

      <a href="#">
        <md-icon>facebook</md-icon>
      </a>
      <a href="#">
        <md-icon>twitter</md-icon>
      </a>
      <a href="#">
        <md-icon>linkedin</md-icon>
      </a>
      <a href="#">
        <md-icon>pinterest</md-icon>
      </a>

    </div>

  </div>

</footer>
-->
