.footer-grid {
  width: 100%;
  height: 200px;
  background: #c02727;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  // -webkit-clip-path: polygon(0 34%, 100% 0, 100% 100%, 0% 100%); #1
  // clip-path: polygon(0 34%, 100% 0, 100% 100%, 0% 100%); #1
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);

  & > div {
    // margin-top: 2.25em;
    padding: 15px;
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 80%);
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 80%);

    &:nth-child(odd) {
      // background: #c02727;
    }

    & > h3 {
      width: 50%;
      color:  #ffffff;
      font-size: normal 14px;
      padding: 5px;
      margin-top: 1.5em;
      // border-bottom: 1px dashed rgb(184, 180, 180);

      @media (max-width: 48em) {
        width: 75%;
        font-size: 9px;
        padding: 3px;
      }
      /* & > span{
        color:  #5383d3;
      }*/
    }
    & > .copyright {
      margin-top: 15px;
      font-weight: 500px;
      font-size: 13px;
      color: whitesmoke;
      & > span {
        display: block;
        @media (min-width: 50em) {
          display: inline-block;
          padding-left: 4px;
        }
      }
      @media ( max-width: 48em) {
        padding-top: 2px;
        font-size: 8px;
      }
    }
    @media (min-width: 64em) {
      margin-top: 2em;
      padding: 10px;
    }
  }
  // @media-query
  @media (min-width: 50em) {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    & .footer-left > h3 {
      font-size: 11px;
    }
  }
}
/**
.footer-distributed {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
  margin-top: 80px;

  & .footer-left, .footer-center, .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  // footer-left
  & .footer-left {
    width: 40%;
  }

  & > h3 {
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
    & > span{
      color:  #5383d3;
    }
  }
  // footer-links
  & .footer-links {
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
    & > a {
      display:inline-block;
      line-height: 1.8;
      text-decoration: none;
      color:  inherit;
    }
  }
  // footer-company-name
  & .footer-company-name {
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  // footer-center
  & .footer-center {
    width: 35%;
    & > md-icon {
      background-color:  #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
    }
    & > p {
      display: inline-block;
      color: #ffffff;
      vertical-align: middle;
      margin:0;

      & > span {
        display:block;
        font-weight: normal;
        font-size:14px;
        line-height:2;
      }
      & > a {
        color:  #5383d3;
        text-decoration: none;;
      }
    }
  }
  // footer-right
  & .footer-right {
    width: 20%;
  }
  // footer-company-about
  & .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;

    & > span {
      display: block;
      color:  #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  // footer-icons
  & .footer-icons {
    margin-top: 25px;

    & > a {
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color:  #33383b;
      border-radius: 2px;

      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;

      margin-right: 3px;
      margin-bottom: 5px;
    }
  }

  @media (max-width: 880px) {
    font: bold 14px sans-serif;

    & .footer-left, .footer-center, .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    & .footer-center {
      & > md-icon {
        margin-left: 0;
      }
    }
  }
}
*/
