// @import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import './assets/artful-theme.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  max-width: 1440px;
  h1 {
    font-size: 34px;
    @media (max-width: 48em) {
      font-size: 22px;
     }
  }
  h2 {
    font-size: 30px;
    @media (max-width: 48em) {
      font-size: 17px;
     }
  }
  h3 {
    font-size: 22px;
    @media (max-width: 48em) {
     font-size: 14px;
    }
  }
  p, li {
    font-size: 16px;
    @media (max-width: 48em) {
     font-size: 11px;
    }
  }
}

mat-toolbar-row {
  justify-content: space-between;
}
mat-card {
  font-family: 'Open Sans', sans-serif;
}
router-outlet {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;

  & :after {
    content: "";
    display: block;
    height: 200px;
  }
}

.nav-spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.company-name {
  font-family: 'Aclonica', sans-serif;
  @media (max-width: 48em) {
    font-size: 0.75em;
  }
}
.menu-tag {
  @media (max-width: 26.625em) {
    display: none;
  }
}
.hero {
  width: 100%;
  height: 80vh;
  background-color: #c02727;
  background-image: url("./assets/img/Mountain-Side.jpg");
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: cover cover;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  @media (max-width: 48em) {
    height: 50vh;
    background-position: center 70%;
  }
}
.content-grid {
  // width: 85%;
  // margin: 50px auto;
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.6em;
  // grid-auto-rows: minmax(100px, auto);
  grid-template-columns:
    [full-start] minmax(0.7em, 1fr)
    [main-start] minmax(0, 40em) [main-end]
    minmax(0.7em, 1fr) [full-end];
  & > div {
    padding: 0.7em;
    text-align: left;
    background: #fff;
    &:first-child {
      min-height: 13em;
      // width: 100%;
      margin: 50px auto;
      background: #f5f387;

      @media (min-width: 64em) {
        margin: 50px auto;
        align-self: center;
      }
    }
  }
  & > * {
    grid-column: main-start;
  }
  & > .full {
    grid-column: full-start / full-end;
    background: #c02727;
    min-height:  15em;
    -webkit-clip-path: polygon(0 34%, 100% 0, 100% 70%, 0% 100%);
    clip-path: polygon(0 34%, 100% 0, 100% 70%, 0% 100%);
  }
  & > .brand-desc {
    // grid-column: span 2;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 82%, 71% 87%, 63% 100%, 47% 87%, 0 85%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 82%, 71% 87%, 63% 100%, 47% 87%, 0 85%);

    & > .nat-design {
      padding: 5px;
      margin-bottom: 10px;
      & > p {
        font-size: 14px;
        @media (max-width: 48em){
          font-size: 11px;
        }
      }
      & > img.tree {
        float: right;
        width: 100px;
        shape-outside: circle(30%);
      }
    }
  }
  // @media-query
  @media (max-width: 48em) {
    grid-gap: 0.4em;
  }
  /* @media (min-width: 48em) {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  }
  @media (max-width: 26.625em) {
    & > div {
      grid-column: span 2;
    }
  } */
}
.view-cards {
  width: 90%;
  margin: 15px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;

  & > div {
    width: 100%;
  }

  & .view-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  // @media query
  @media (min-width: 48em) {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  }
  @media (max-width: 26.625em) {
    & > div {
      grid-column: span 2;
    }
  }
}

/**
.main-grid {
  width: 85%;
  max-width: 1200px;
  margin: 50px auto;
  display: grid;

  /* grid-template-columns: 1fr 1fr 1fr; */
  //grid-template-columns: repeat(2, 1fr);
  //grid-gap: 0.7em;

  /* grid-auto-rows: 100px; */
  //grid-auto-rows: minmax(100px, auto);

  // div or card settings
  /*& > div {
    padding: 1em;
    background: #eee;
    &:nth-child(odd) {
      background: #ddd;
    }
    &.brand-desc {
      margin-top: -35vh;
    }
  }

  // @media-query
  @media (min-width: 50em) {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  }
}*/
/*
.brand-desc {
  grid-column: span 3;
  // @media-query
  @media (max-width: 48em) {
    grid-column: span 2;
  }
}
.service-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(45px, auto);
  align-self: auto;
  & > div {
    border-bottom: #C43902 1px dotted;
    padding: 3px;
    font-weight: bold;
  }
  @media (min-width: 48em) {
    grid-column: span 2;
  }
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  grid-column: span 2;
  & > div {
    border: #EE4141 1px solid;
    padding: 15px;
  }
} */
