<md-toolbar color="primary">
  <span class="company-name">Nature Creations</span>
  <span class="nav-spacer"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
</md-toolbar>
<md-menu #menu="mdMenu">
  <button md-menu-item>
    <md-icon>fingerprint</md-icon>
    <span>Login</span>
  </button>
  <button md-menu-item disabled>
    <md-icon>announcement</md-icon>
    <span>News</span>
  </button>
  <button md-menu-item>
    <md-icon>notifications_off</md-icon>
    <span>Disable alerts</span>
  </button>
</md-menu>
