<!-- menubar -->
<md-toolbar color="primary">
  <span class="company-name">Nature Creations</span>
  <span class="nav-spacer"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
</md-toolbar>
<!-- menu -->
<md-menu #menu="mdMenu" color="accent">
  <button md-menu-item>
    <md-icon>info</md-icon>
    <span>About</span>
  </button>
  <button md-menu-item>
    <md-icon>store</md-icon>
    <span>Products</span>
  </button>
  <button md-menu-item>
    <md-icon>work</md-icon>
    <span>Features</span>
  </button>
  <button md-menu-item disabled>
    <md-icon>dashboard</md-icon>
    <span>Dashboard</span>
  </button>
  <button md-menu-item disabled>
    <md-icon>settings</md-icon>
    <span>Settings</span>
  </button>
  <button md-menu-item>
    <md-icon>fingerprint</md-icon>
    <span>Login</span>
  </button>
</md-menu>
<!-- menutab -->

<md-tab-group color="accent" md-stretch-tabs>
  <md-tab label="Overview"></md-tab>
  <md-tab label="Products"></md-tab>
  <md-tab label="Services"></md-tab>
</md-tab-group>
