<!-- menubar -->
<md-toolbar color="primary" role="header">
  <span class="company-name">Nature Creations</span>
  <span class="nav-spacer"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>menu</md-icon>
  </button>
  <span class="menu-tag">Menu</span>
</md-toolbar>
<!-- menu -->
<md-menu #menu="mdMenu" color="accent">
  <button md-menu-item>
    <md-icon>info</md-icon>
    <span><a routerLink="/about">About</a></span>
  </button>
  <button md-menu-item>
    <md-icon>store</md-icon>
    <span><a routerLink="/products">Products</a></span>
  </button>
  <button md-menu-item>
    <md-icon>work</md-icon>
    <span><a routerLink="/features">Features</a></span>
  </button>
  <button md-menu-item disabled>
    <md-icon>dashboard</md-icon>
    <span><a >Dashboard</a></span>
  </button>
  <button md-menu-item disabled>
    <md-icon>settings</md-icon>
    <span><a >Settings</a></span>
  </button>
  <button md-menu-item>
    <md-icon>fingerprint</md-icon>
    <span><a >Login</a></span>
  </button>
</md-menu>
<!-- menutab -->
