<div class="hero">
</div>
<!--
<article class="hero" id="cc-slider">
  <input checked="checked" name="cc-slider" id="slide1" type="radio">
  <input name="cc-slider" id="slide2" type="radio">
  <input name="cc-slider" id="slide3" type="radio">
  <input name="cc-slider" id="slide4" type="radio">
  <input name="cc-slider" id="slide5" type="radio">
  <div id="cc-slides">
    <div id="overflow">
      <div class="inner">
        <article>
          <div class="cctooltip">
            <h3>Amazing / Photoshop / Photography</h3>
            <h4>By
              <a href="#">codeconvey</a>
            </h4>
          </div>
          <img src="../../../assets/img/slide-1.jpg">
        </article>
        <article>
          <div class="cctooltip">
            <h3>Abstract Retro Photography</h3>
            <h4>By
              <a href="#">codeconvey</a>
            </h4>
          </div>
          <img src="../../../assets/img/slide-2.jpg"> </article>
        <article>
          <div class="cctooltip">
            <h3>Street Photography</h3>
            <h4>By
              <a href="#">codeconvey</a>
            </h4>
          </div>
          <img src="../../../assets/img/slide-3.jpg">
        </article>
        <article>
          <div class="cctooltip">
            <h3>Portrait / Woman / Photography</h3>
            <h4>By
              <a href="#">codeconvey</a>
            </h4>
          </div>
          <img src="../../../assets/img/slide-4.jpg">
        </article>
        <article>
          <div class="cctooltip">
            <h3>Fashion / Sport / Photography</h3>
            <h4>By
              <a href="#">codeconvey</a>
            </h4>
          </div>
          <img src="../../../assets/img/slide-5.jpg">
        </article>
      </div>
    </div>
  </div>
  <div id="controls">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
    <label for="slide4"></label>
    <label for="slide5"></label>
  </div>
</article>
-->
